<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

</head>

<body ng-app="myApp">

    <div ng-controller="loginController" style="margin-top:20%; margin-right:30%; margin-left:30%; background-color:WindowFrame;">

        @*<div>
            <ul class="nav nav-pills">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/list">List</a></li>
                <li><a href="#/settings">Settings</a></li>
            </ul>
        </div>*@

        <div ng-show="!Show()" id="loginDiv">
            Username: <input type="text" ng-model="username" /> <br />
            Password: <input type="password" ng-model="password" style="margin-left:2px;" /> <br /><br />
            <button type="button" ng-click="Login()" style="margin-left:100px;">Login</button>
            <button type="button" ng-click="NewAccount()">New Account</button>
        </div>

        <div id="register" ng-show="Show()">
            Username: <input type="text" ng-model="usernameRegister" /> <br />
            Password: <input type="password" ng-model="passwordRegister" style="margin-left:2px;" /> <br /><br />
            <button type="button" ng-click="createAccount()">Create Account</button>
            <button type="button" ng-click="Back()">Back</button>
        </div>



        @*<div class="collapse navbar-collapse" ng-controller="HeaderController">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
                    <li ng-class="{ active: isActive('/dogs')}"><a href="/dogs">List</a></li>
                </ul>
            </div>*@
        @*        <div ng-view></div>*@

    </div>

</body>

<script>
    var myApp = angular.module('myApp', ['ngRoute']);

    myApp.config(function ($routeProvider) {
        $routeProvider.when('/home', {
            templateUrl: 'home.html',
            controller: 'HomeController'
        }).when('/list', {
            templateUrl: 'list.html',
            controller: 'ListController'
        }).when('/settings', {
            templateUrl: 'settings.html',
            controller: 'SettingsController'
        }).otherwise({
            redirectTo: 'home'
        });
    });


    myApp.directive('bsActiveLink', ['$location', function ($location) {
        return {
            restrict: 'A',
            replace: false,
            link: function (scope, elem) {
                scope.$on("$routeChangeSuccess", function () {
                    var hrefs = ['/#' + $location.path(),
                                 '#' + $location.path(),
                                 $location.path()];
                    angular.forEach(elem.find('a'), function (a) {
                        a = angular.element(a);
                        if (-1 !== hrefs.indexOf(a.attr('href'))) {
                            a.parent().addClass('active');
                        } else {
                            a.parent().removeClass('active');
                        };
                    });
                });
            }
        }
    }]);


    myApp.controller('loginController', function ($scope, $http) {
        $scope.Login = function () {
            $http({
                method: 'POST',
                url: '/Home/Login',
                params: { 'username': $scope.username, 'password': $scope.password }
            }).then(function succes(response) {
                if (response.data == "OK") {
                }
                else {
                    alert("wrong username or password!")
                }
            }, function error(response) {
                console.log(response.statusText);
            });
        };
        $scope.NewAccount = function () {
            $scope.Show = function () {
                return true;
            };
        };

        $scope.Back = function () {
            $scope.Show = false;
        };
    });

</script>